html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  /* background-color: #222; */
  /* color: #EEE; */
}
.navbar {
  margin-bottom: 10px;
  border-radius: 0px;
}
.navbar-brand {
  float: none;
}
.navbar-nav .nav-item {
  float: none;
}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}
@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

@-moz-keyframes three-quarters-loader {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes three-quarters-loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes three-quarters-loader {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#subjects {
    border-right: 1px solid gray;
}

ul.subjects.base {
    margin-left: 0px;
}
ul.subjects {
    margin-left: 15px;
    font-size: 14px;
    transition: visibility 0s, opacity 0.5s linear;
}
ul.subjects li {
    cursor: pointer;
    border: 0px;
}
.subject-row {
    padding: 0px;
}
.subject-title {
    padding: 3px 5px;
}
.subject-title span {
    margin-right: 5px;
}
.subject-title:hover {
    background-color: highlight;
}
.list-group.query-list {
    max-height: 200px;
    overflow-y: auto;
}
.list-group.query-list .list-group-item {
    height: 25px;
    font-size: 14px;
    padding: 2px 10px;
    cursor: pointer;
}

.list-group.query-list .list-group-item.active {
    border-color: white;

}
.tag {
    margin-left: 5px;
    vertical-align: text-top;
}

.clear, .all {
    margin-top: -2px;
    padding: 0px;
    font-size: 14px;
    vertical-align: center;
}
#getdata {
    text-align: center;
}


/* chart page */

.chart div {
    background-color: steelblue;
}
.chart rect {
    fill: steelblue;
}

svg.chart text {
    fill: black;
    font: 10px sans-serif;
    text-anchor: middle;
}
svg.chart g.line text {
    fill: white;
}
.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.axis--x path {
    /* display: none; */
}
.axis .tick {
    fill:black;
}
.bar:hover {
    fill: brown;
}
.linechart {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.subunit { fill: #ddc; }

.subunit-boundary {
		fill: none;
		stroke: #777;
		stroke-dasharray: 2,2;
		stroke-linejoin: round;
}

.subunit:hover {
		fill: red !important;
}

